#partners{
    background-color: #ffffff;
      padding-bottom: 80px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
    background: url(./img/mao-contact-bg.jpg) no-repeat 50% 50% fixed;
  }
  
  .partners-container{
    margin-bottom: 80px;
    margin-top: 80px; }

  .partners-header{
    font-size: 35px;
    color: black;
    text-transform: uppercase; 
    margin-top: 50px;
    margin-bottom:50px; 
  }

  .partners-desc{
    font-size: 25px;
    color: #696969;
  }
  
  .partners-icon{
    font-size: 35px;
      background-color: #00aae6;
      height: 40px;
      width: 41px;
      margin: 0 auto;
      border-radius: 50%;

  }
  #contact-header{
    width: 100%;
    background: url('./img/contact-background.jpg') no-repeat center center;
    margin-bottom: 100px;
    color: #fff;
    height: 206px;
      background-size: cover;

  }

  .contact-info{
    float: left;
    width: 33%;
    margin-left: 15%;
    margin-bottom: 150px;
  }

  .contact-form {
    float: right;
    width: 33%;
    margin-right: 15%;

  }

  .contact-form textarea,
  .contact-form input{
    width: 100%;
    height: 40px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .contact-form textarea{
    height: 102px;
    resize: none;
  }

  .contact-row h4{
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    width: 140px;
    line-height: 30px;

  } 

  .contact-row > span{
    float: left;
    display: block;
    margin-left: 20px;
    line-height: 19px;

  }

  .contact-row{
    margin-bottom: 20px;
  }

  .contact-row .label{
    float: left;
    line-height: 25px;
    height: 25px;

  }
   
  .contact-row .icon{
    font-size: 25px;
    font-family: 'ionicons';
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #f28500;
    float: left;
    margin-right: 10px;
  }
  
  .contact-form .btn{
    margin-top: 20px;
  }

  .contact-form #returnMessage{
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all .3s ease 0s;
    margin-top: 20px;
  }

  .contact-form #returnMessage.active{
    opacity: 1;
  }

.footer {
    background: url(./img/footer-bck.jpg) repeat;
    width: 100%;
    height: 200px;

  }

  .footer img{
    margin-top: 20px;
    margin: 0 auto;
    
  }
  .info-footer{
    width: 100%;
    
    margin-top: 40px;
    color: #ddd;
      line-height: 30px;
  }
  
  .icon-social{
    font-size: 26px;
    color: #fff;
    height: 40px;
    width: 41px;
    margin-top: 70px;
    margin-left: 1px;
    border-radius: 50%;
    background: #cacaca;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 15px;
    float: left;
    transition: all .3s ease 0s;

  }
  
  #icon-social{
    width: 359px;
  }
  
  #icon-facebook:hover{
  background-color: #3b5998;

  }

  #icon-instagram:hover{
  background-color: #ffc838;

  }

  #icon-twitter:hover{
  background-color: #1dcaff;
  }

  #icon-youtube:hover{
  background-color: #cd201f;
  }

  .manda-msg {
  width: 100%;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  padding: 80px 0 40px 0;
  box-sizing: border-box;
}